@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Benvinguts a un futur sostenible</h1>
	<img src="~/img/image.png" alt="Logo" style="width: 450px; height: 600px;" />
</div>
